<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net"  type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <!--log4net 根root-->
    <root>
      <level value="DEBUG" />
    </root>
    <!--日志记录器-->
    <logger name="SystemOpeartionLogger">
      <level value="DEBUG" />
      <appender-ref ref="DateRollingFileAppenderSystemOpeartion" />
    </logger>
    <logger name="CouponOpeartionLogger">
      <level value="DEBUG" />
      <appender-ref ref="DateRollingFileAppenderCouponOpeartion" />
    </logger>
    <logger name="DebugOpeartionLogger">
      <level value="DEBUG" />
      <appender-ref ref="DateRollingFileAppenderDebugOpeartion" />
    </logger>
    <logger name="ExportLogger">
      <level value="DEBUG" />
      <appender-ref ref="DateRollingFileAppenderExport" />
    </logger>
    <logger name="ImportLogger">
      <level value="DEBUG" />
      <appender-ref ref="DateRollingFileAppenderImport" />
    </logger>
    <!--按照日期输出文本文件-->
    <appender name="DateRollingFileAppenderSystemOpeartion" type="log4net.Appender.RollingFileAppender">
      <!--存放日志的路径-->
      <param name="File" value="Log/SystemOpeartion/Opeartion" />
      <!--是否想日志文件中追加-->
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="900" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %m %n" />
      </layout>
    </appender>

    <!--按照日期输出文本文件-->
    <appender name="DateRollingFileAppenderCouponOpeartion" type="log4net.Appender.RollingFileAppender">
      <!--存放日志的路径-->
      <param name="File" value="Log/CouponOpeartion/Opeartion" />
      <!--是否想日志文件中追加-->
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="900" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %n%m %n" />
      </layout>
    </appender>

    <!--按照日期输出文本文件-->
    <appender name="DateRollingFileAppenderDebugOpeartion" type="log4net.Appender.RollingFileAppender">
      <!--存放日志的路径-->
      <param name="File" value="Log/Debug/Opeartion" />
      <!--是否想日志文件中追加-->
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="900" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %n%m %n" />
      </layout>
    </appender>

    <!--按照日期输出文本文件-->
    <appender name="DateRollingFileAppenderImport" type="log4net.Appender.RollingFileAppender">
      <!--存放日志的路径-->
      <param name="File" value="Log/Import/Import" />
      <!--是否想日志文件中追加-->
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="900" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %n%m %n" />
      </layout>
    </appender>
    
    <!--按照日期输出文本文件-->
    <appender name="DateRollingFileAppenderExport" type="log4net.Appender.RollingFileAppender">
      <!--存放日志的路径-->
      <param name="File" value="Log/Export/Export" />
      <!--是否想日志文件中追加-->
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="900" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="StaticLogFileName" value="false"/>
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;"/>
      <param name="RollingStyle" value="Date"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d %n%m %n" />
      </layout>
    </appender>
  </log4net>
</configuration>
