<?xml version="1.0"?>
<ArrayOfMessageTemplateInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MessageTemplateInfo>
    <TransactionTypeID>37</TransactionTypeID>
    <MessageServiceTypeID>0</MessageServiceTypeID>
    <TemplateContent1>${Template.CurrtyDateTime}
STATUS:ACCEPTED
#if(${Template.CouponNumbers}==" &amp;&amp; ${Template.Point}==")
ADD $ VALUE: HKD $Format.formatAmount(${Template.Amount},2)
NEW CASH BALANCE: HKD $Format.formatAmount(${Template.InReturnAmount},2)
#elseif(${Template.CouponNumbers}==" &amp;&amp; ${Template.Amount}==")
ADD POINT:${Template.Point}
NEW POINT BALANCE:${Template.InReturnPoint}
#elseif(${Template.Point}==" &amp;&amp; ${Template.Amount}==")
ACCEPTED COUPON: ${Template.ActCoupons}
#else
ADD $ VALUE: HKD ${Template.Amount}
NEW CASH BALANCE: HKD ${Template.InReturnAmount}
#end
EXP DATE:${Template.InExpiryDate}
FROM:${Template.OutMemberMobilePhone}
TRAN ID:${Template.TxnNo}</TemplateContent1>
    <TemplateContent2>${Template.CurrtyDateTime}
状态:成功
#if(${Template.CouponNumbers}==" &amp;&amp; ${Template.Point}==")
增值 $: HKD $Format.formatAmount(${Template.Amount},2)
当前余额: HKD $Format.formatAmount(${Template.InReturnAmount},2)
#elseif(${Template.CouponNumbers}==" &amp;&amp; ${Template.Amount}==")
增加积分:${Template.Point}
当前剩余积分:${Template.InReturnPoint}
#elseif(${Template.Point}==" &amp;&amp; ${Template.Amount}==")
接收的优惠券数量:  ${Template.ActCoupons}
#else
增值 $: HKD ${Template.Amount}
当前余额: HKD ${Template.InReturnAmount}
#end
&lt;/sep&gt;
有效日期:${Template.InExpiryDate}
从此发出:${Template.OutMemberMobilePhone}
交易号:${Template.TxnNo}</TemplateContent2>
    <TemplateContent3>${Template.CurrtyDateTime}
狀態:成功
#if(${Template.CouponNumbers}==" &amp;&amp; ${Template.Point}==")
增值 $: HKD $Format.formatAmount(${Template.Amount},2)
當前餘額: HKD $Format.formatAmount(${Template.InReturnAmount},2)
#elseif(${Template.CouponNumbers}==" &amp;&amp; ${Template.Amount}==")
增加積分:${Template.Point}
當前剩餘積分:${Template.InReturnPoint}
#elseif(${Template.Point}==" &amp;&amp; ${Template.Amount}==")
接收的優惠券數量: ${Template.ActCoupons}
#else
增值 $: HKD ${Template.Amount}
當前餘額: HKD ${Template.InReturnAmount}
#end
&lt;/sep&gt;
有效日期:${Template.InExpiryDate}
從此發出:${Template.OutMemberMobilePhone}
交易號:${Template.TxnNo}</TemplateContent3>
  </MessageTemplateInfo>
</ArrayOfMessageTemplateInfo>