<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="FineUI" type="FineUI.ConfigSection, FineUI" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Edge.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="ActiveReports10" type="GrapeCity.ActiveReports.Web.ActiveReportsSettingsSection" />
  </configSections>
  <FineUI DebugMode="true" Theme="neptune" Language="en" />
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false" />
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <!--<add key="ConnectionString" value="server=DARWIN25-PC;database=Buying_TGP;uid=sa;pwd=darwin25;Connect Timeout=600"/>-->
    <!--<add key="ConnectionString" value="server=172.16.32.80;database=Buying_YB;uid=tap_L3;pwd=L3@tap;Connect Timeout=600"/>-->
    <!--<add key="ConnectionString" value="server=172.16.32.59;database=Buying_TGP;uid=sa;pwd=1234@abcd;Connect Timeout=600"/>-->
    <!--<add key="ConnectionString" value="server=172.16.64.25;database=WebBuyingUAT;uid=sa;pwd=123qwE;Connect Timeout=600"/>-->
    <add key="ConnectionString" value="server=localhost\MSQL2014;database=Buying_TGP;Trusted_Connection=True;"/>

    <!-- Excel连接字符串-->
    <add key="ExcelConnectionString" value="Provider=Microsoft.ACE.OLEDB.12.0;data source={0};Extended Properties='Excel 12.0;HDR=YES;IMEX=1'" />
    <!--数据访问层程序集名称 -->
    <add key="DAL" value="Edge.SVA.SQLServerDAL" />
    <!--虚拟目录名称(如果是站点，则为空) -->
    <add key="VirtualPath" value="" />
    <!--网站域名，本地目录可以用.   -->
    <add key="WebURL" value="" />
    <!--默认菜单是否是展开状态-->
    <add key="MenuExpanded" value="true" />
    <!--实体对象内容缓村的时间（分钟）-->
    <add key="ModelCache" value="30" />
    <!--网站信息文件-->
    <add key="Configpath" value="~/XmlConfig/WebSet.config" />
    <add key="MaxShowNum" value="200" />
    <add key="MessageServer" value="tcp://172.16.64.27:61616" />
    <add key="MessageServerEnabled" value="false" />
    <add key="ActiveReports 10 License" value="bSYNGtwoWAXk+01Y4ozRgAc+w2VXqu4MBZaLfOvRa34xQgS3GMr9znuHEMIzBBOLggvjXDB+CXjL45YqlGskLFY3gI1tcnwH3iLI7sgZgE30UE+ztjsuy5qr4FjvxARlzwVrH2bvQ6+hjaStxpyLwxNdm5B84RxpQ4aaZRInTI/sMMvc+e+IeH7I0pfjBTEINL3dkKn3tNtuY91zvejj0u1vdDxKDb/meKvODdQ+Cz1YLJCcDkc6F4tTlKg5CpcchzD+IDFdZ3b1WSl2wVYqZIlHkb+N6Td9PJ+vlKv4tnLPH+xxfOVwe+MDhQlSairKVNE0rusgUxk=" />

    <add key="SendFrom" value="darwin.pasco5@gmail.com" />
    <add key="EmailPassword" value="Connie25" />
    <add key="SMTPHost" value="smtp.gmail.com" />
    <add key="SMTPPort" value="587" />
    <!--<add key="EmailReceipients" value="darwin.pasco@value-exch.com, Aaron.UCHI@value-exch.com, michael.ea@value-exch.com, reileenjoyce.movilla@robinsonsretail.com.ph" />-->
    <add key="EmailReceipients" value="mryoso2015@gmail.com" />
    
  </appSettings>
  <system.web>
    <httpRuntime executionTimeout="3600" maxRequestLength="1048576" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="GrapeCity.ActiveReports.Web.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Export.Xaml.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
        <add assembly="GrapeCity.ActiveReports.Export.Document.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
        <add assembly="GrapeCity.ActiveReports.Export.Pdf.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Export.Html.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Export.Image.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Export.Rdf.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=CC4967777C49A3FF" />
        <add assembly="GrapeCity.ActiveReports.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Document.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Diagnostics.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Extensibility.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="GrapeCity.ActiveReports.Chart.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" redirectMode="ResponseRedirect" defaultRedirect="~/ErrorMessage.aspx" />
    <identity impersonate="true" />
    <authentication mode="Forms">
      <forms name="forums" path="/" loginUrl="Login.aspx" protection="All" timeout="30" slidingExpiration="true" />
    </authentication>
    <pages theme="" styleSheetTheme="" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add assembly="FineUI" namespace="FineUI" tagPrefix="ext" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="GET" path="res.axd" type="FineUI.ResourceHandler, FineUI" validate="false" />
      <add verb="Get" path="WebResource.axd" type="System.Web.Handlers.AssemblyResourceLoader" />
      <add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="true" />
      <add verb="*" path="*.ar10" type="GrapeCity.ActiveReports.Web.Handlers.ReportBinariesStreamer, GrapeCity.ActiveReports.Web.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.ActiveReport" type="GrapeCity.ActiveReports.Web.Handlers.CompiledReportHandler, GrapeCity.ActiveReports.Web.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.rpx" type="GrapeCity.ActiveReports.Web.Handlers.RpxHandler, GrapeCity.ActiveReports.Web.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.rdl,*.rdlx" type="GrapeCity.ActiveReports.Web.Handlers.RdlxHandler, GrapeCity.ActiveReports.Web.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.ar10Web" type="GrapeCity.ActiveReports.Web.Handlers.WebCacheAccessHandler, GrapeCity.ActiveReports.Web.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.asmx" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="FineUIScriptModule" type="FineUI.ScriptModule, FineUI" />
    </httpModules>
    <sessionState mode="InProc" timeout="35" />
  </system.web>
  <location path="icon">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="res.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="extjs">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="AsmxHandler" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" resourceType="Unspecified" />
      <add verb="*" path="*.ar10" type="GrapeCity.ActiveReports.Web.Handlers.ReportBinariesStreamer, GrapeCity.ActiveReports.Web.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR10_ReportBinariesStreamer" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.ActiveReport" type="GrapeCity.ActiveReports.Web.Handlers.CompiledReportHandler, GrapeCity.ActiveReports.Web.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR10_CompiledReportHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.rpx" type="GrapeCity.ActiveReports.Web.Handlers.RpxHandler, GrapeCity.ActiveReports.Web.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR10_RpxHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.rdl,*.rdlx" type="GrapeCity.ActiveReports.Web.Handlers.RdlxHandler, GrapeCity.ActiveReports.Web.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR10_RdlxHandler" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" path="*.ar10Web" type="GrapeCity.ActiveReports.Web.Handlers.WebCacheAccessHandler, GrapeCity.ActiveReports.Web.v10, Version=10.0.5602.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" name="AR10_WebCacheAccessHandler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true" />
  </system.webServer>
  <applicationSettings>
    <Edge.Web.Properties.Settings>
      <setting name="Edge_Web_SVAWebReference_SVAWebService" serializeAs="String">
        <value>http://172.16.64.27:8084/SVAWebService/services/SVAWebService.SVAWebServiceHttpSoap11Endpoint/</value>
      </setting>
    </Edge.Web.Properties.Settings>
  </applicationSettings>
  <ActiveReports10>
    <WebService reportsFolder="~/" assemblyFolder="~/" />
  </ActiveReports10>
</configuration>