<?xml version="1.0"?>
<ArrayOfMessageTemplateInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <MessageTemplateInfo>
    <TransactionTypeID>12</TransactionTypeID>
    <MessageServiceTypeID>0</MessageServiceTypeID>
    <TemplateContent1>${Template.CurrtyDateTime}
STATUS:ACCEPTED
ADD $ VALUE:HKD$Format.formatAmount(${Template.Amount},2)
NEW CASH BALANCE:HKD$Format.formatAmount(${Template.ReturnAmount},2)
EXP DATE:${Template.ExpiryDate}
ACCT NO:${Template.CardNumber}
TRAN ID:${Template.TxnNo}</TemplateContent1>
    <TemplateContent2 />
    <TemplateContent3 />
  </MessageTemplateInfo>
  <MessageTemplateInfo>
    <TransactionTypeID>25</TransactionTypeID>
    <MessageServiceTypeID>0</MessageServiceTypeID>
    <TemplateContent1>${Template.CurrtyDateTime}
STATUS:ACCEPTED
ADD POINT: ${Template.Point}
NEW POINT BALANCE: ${Template.ReturnPoint}
EXP DATE:${Template.ExpiryDate}
ACCT NO:${Template.CardNumber}
TRAN ID:${Template.TxnNo}</TemplateContent1>
    <TemplateContent2 />
    <TemplateContent3 />
  </MessageTemplateInfo>
  <MessageTemplateInfo>
    <TransactionTypeID>26</TransactionTypeID>
    <MessageServiceTypeID>0</MessageServiceTypeID>
    <TemplateContent1>Please verify your mobile number by clicking on the link below!
http://mail.tap-group.com.cn/kiosk.pl?AppID=4
Temp password:${Template.MemberPassword}</TemplateContent1>
    <TemplateContent2>请即登入网址启动帐户：
http://mail.tap-group.com.cn/kiosk.pl?AppID=4
密码: ${Template.MemberPassword}</TemplateContent2>
    <TemplateContent3>請即登入網址啟動帳戶：
http://mail.tap-group.com.cn/kiosk.pl?AppID=4
密碼: ${Template.MemberPassword}</TemplateContent3>
  </MessageTemplateInfo>
  <MessageTemplateInfo>
    <TransactionTypeID>26</TransactionTypeID>
    <MessageServiceTypeID>2</MessageServiceTypeID>
    <TemplateContent1>Please verify your mobile number by clicking on the link below!
http://mail.tap-group.com.cn/kiosk.pl?AppID=4
Temp password:${Template.MemberPassword}</TemplateContent1>
    <TemplateContent2>请即登入网址启动帐户：
http://mail.tap-group.com.cn/kiosk.pl?AppID=4
密码: ${Template.MemberPassword}</TemplateContent2>
    <TemplateContent3>請即登入網址啟動帳戶：
http://mail.tap-group.com.cn/kiosk.pl?AppID=4
密碼: ${Template.MemberPassword}</TemplateContent3>
  </MessageTemplateInfo>
  <MessageTemplateInfo>
    <TransactionTypeID>26</TransactionTypeID>
    <MessageServiceTypeID>3</MessageServiceTypeID>
    <TemplateContent1>Please verify your mobile number by clicking on the link below!
http://mail.tap-group.com.cn/kiosk.pl?AppID=4
Temp password:${Template.MemberPassword}</TemplateContent1>
    <TemplateContent2>请即登入网址启动帐户：
http://mail.tap-group.com.cn/kiosk.pl?AppID=4
密码: ${Template.MemberPassword}</TemplateContent2>
    <TemplateContent3>請即登入網址啟動帳戶：
http://mail.tap-group.com.cn/kiosk.pl?AppID=4
密碼: ${Template.MemberPassword}</TemplateContent3>
  </MessageTemplateInfo>
  <MessageTemplateInfo>
    <TransactionTypeID>37</TransactionTypeID>
    <MessageServiceTypeID>0</MessageServiceTypeID>
    <TemplateContent1>${Template.CurrtyDateTime}
STATUS:ACCEPTED
#if(${Template.CouponNumbers}=="" &amp;&amp; ${Template.Point}=="")
ADD $ VALUE: HKD $Format.formatAmount(${Template.Amount},2)
NEW CASH BALANCE: HKD $Format.formatAmount(${Template.InReturnAmount},2)
#elseif(${Template.CouponNumbers}=="" &amp;&amp; ${Template.Amount}=="")
ADD POINT:${Template.Point}
NEW POINT BALANCE:${Template.InReturnPoint}
#elseif(${Template.Point}=="" &amp;&amp; ${Template.Amount}=="")
ACCEPTED COUPON: ${Template.ActCoupons}
#else
ADD $ VALUE: HKD ${Template.Amount}
NEW CASH BALANCE: HKD ${Template.InReturnAmount}
#end
EXP DATE:${Template.InExpiryDate}
FROM:${Template.OutMemberMobilePhone}
TRAN ID:${Template.TxnNo}</TemplateContent1>
    <TemplateContent2>${Template.CurrtyDateTime}
状态:成功
#if(${Template.CouponNumbers}=="" &amp;&amp; ${Template.Point}=="")
增值 $: HKD $Format.formatAmount(${Template.Amount},2)
当前余额: HKD $Format.formatAmount(${Template.InReturnAmount},2)
#elseif(${Template.CouponNumbers}=="" &amp;&amp; ${Template.Amount}=="")
增加积分:${Template.Point}
当前剩余积分:${Template.InReturnPoint}
#elseif(${Template.Point}=="" &amp;&amp; ${Template.Amount}=="")
接收的优惠券数量:  ${Template.ActCoupons}
#else
增值 $: HKD ${Template.Amount}
当前余额: HKD ${Template.InReturnAmount}
#end
&lt;/sep&gt;
有效日期:${Template.InExpiryDate}
从此发出:${Template.OutMemberMobilePhone}
交易号:${Template.TxnNo}</TemplateContent2>
    <TemplateContent3>${Template.CurrtyDateTime}
狀態:成功
#if(${Template.CouponNumbers}=="" &amp;&amp; ${Template.Point}=="")
增值 $: HKD $Format.formatAmount(${Template.Amount},2)
當前餘額: HKD $Format.formatAmount(${Template.InReturnAmount},2)
#elseif(${Template.CouponNumbers}=="" &amp;&amp; ${Template.Amount}=="")
增加積分:${Template.Point}
當前剩餘積分:${Template.InReturnPoint}
#elseif(${Template.Point}=="" &amp;&amp; ${Template.Amount}=="")
接收的優惠券數量: ${Template.ActCoupons}
#else
增值 $: HKD ${Template.Amount}
當前餘額: HKD ${Template.InReturnAmount}
#end
&lt;/sep&gt;
有效日期:${Template.InExpiryDate}
從此發出:${Template.OutMemberMobilePhone}
交易號:${Template.TxnNo}</TemplateContent3>
  </MessageTemplateInfo>
  <MessageTemplateInfo>
    <TransactionTypeID>46</TransactionTypeID>
    <MessageServiceTypeID>0</MessageServiceTypeID>
    <TemplateContent1>${Template.CurrtyDateTime}
STATUS:ACCEPTED
#if(${Template.CouponNumbers}=="" &amp;&amp; ${Template.Point}=="")
REDEEM $ VALUE: HKD $Format.formatAmount(${Template.Amount},2)
NEW CASH BALANCE: HKD $Format.formatAmount(${Template.ReturnAmount},2)
#elseif(${Template.CouponNumbers}=="" &amp;&amp; ${Template.Amount}=="")
REDEEM POINT:${Template.Point}
NEW POINT BALANCE:${Template.ReturnPoints}
#elseif(${Template.Point}=="" &amp;&amp; ${Template.Amount}=="")
REDEEM COUPON: ${Template.ActCoupons}
#else
REDEEM $ VALUE: HKD ${Template.Amount}
NEW CASH BALANCE: HKD ${Template.InReturnAmount}
#end
EXP DATE:${Template.OutExpiryDate}
TO:${Template.InMemberMobilePhone}
TRAN ID:${Template.TxnNo}</TemplateContent1>
    <TemplateContent2>${Template.CurrtyDateTime}
状态:成功
#if(${Template.CouponNumbers}=="" &amp;&amp; ${Template.Point}=="")
消费 $ 金额: HKD $Format.formatAmount(${Template.Amount},2)
当前剩余金额: HKD $Format.formatAmount(${Template.ReturnAmount},2)
#elseif(${Template.CouponNumbers}=="" &amp;&amp; ${Template.Amount}=="")
消费 积分:${Template.Point}
当前剩余积分:${Template.ReturnPoints}
#elseif(${Template.Point}=="" &amp;&amp; ${Template.Amount}=="")
消费优惠券数量: ${Template.ActCoupons}
#else
消费 $ 金额: HKD ${Template.Amount}
当前剩余余额: HKD ${Template.InReturnAmount}
#end
&lt;/sep&gt;
有效期:${Template.OutExpiryDate}
转赠到:${Template.InMemberMobilePhone}
交易号:${Template.TxnNo}</TemplateContent2>
    <TemplateContent3>${Template.CurrtyDateTime}
狀態:成功
#if(${Template.CouponNumbers}=="" &amp;&amp; ${Template.Point}=="")
消費 $ 金額: HKD $Format.formatAmount(${Template.Amount},2)
當前剩餘金額: HKD $Format.formatAmount(${Template.ReturnAmount},2)
#elseif(${Template.CouponNumbers}=="" &amp;&amp; ${Template.Amount}=="")
消費 積分:${Template.Point}
當前剩餘積分:${Template.ReturnPoints}
#elseif(${Template.Point}=="" &amp;&amp; ${Template.Amount}=="")
消費優惠券數量: ${Template.ActCoupons}
#else
消費 $ 金額: HKD ${Template.Amount}
當前剩餘金額: HKD ${Template.InReturnAmount}
#end
&lt;/sep&gt;
有效期:${Template.OutExpiryDate}
轉增到:${Template.InMemberMobilePhone}
交易號:${Template.TxnNo}</TemplateContent3>
  </MessageTemplateInfo>
</ArrayOfMessageTemplateInfo>