<?xml version="1.0" encoding="utf-8" ?>
<WebPages>
  <PublicWebPages>
    <Page Url="Login.aspx" PermissionID="-1"/>
    <Page Url="Index.aspx" PermissionID="-1"/>
    <Page Url="AdminCenter.aspx" PermissionID="-1"/>
    <Page Url="SysManage/modify.aspx" PermissionID="-1"/>
    <Page Url="SysManage/add.aspx" PermissionID="-1"/>
    <Page Url="SysManage/show.aspx" PermissionID="-1"/>
  </PublicWebPages>
</WebPages>
